<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=450, user-scalable=no">


    <title>GDZLLA SMASH SERVER (ERROR)</title>

    <%= stylesheet_link_tag "application", :digest => true, :media => "screen, projection" %>
    <%= stylesheet_link_tag "application-mobile", :digest => true, :media => "only screen and (max-device-width: 480px)" %>
    <%= javascript_include_tag "application", :digest => true %>

</head>

<body class="error_page">
    <div id="wrap" class="clearfix">
        <div id="header"></div>

        <p>Uh oh. We might have some issues. Be a pal and give us a heads up via Twitter <a href="http://twitter.com/gdzl_la">@gdzl_la</a> or email <a href="mailto:hello@nclud.com">hello@nclud.com</a>.</p>

        <h2 id="smash_server"><a href="http://gdzl.la" title="Back to GDZLLA homepage">GDZLLA SMASH SERVER (ERROR)</a></h2>

        <div id="smash">
            <div class="skull">
                <div class="eyes">
                    <%= image_tag "eyes01.png", :class => "pupils" %>
                    <%= image_tag "hilites02.png", :class => "hilites" %>
                </div>
                <%= image_tag "face04.png", :class => "face" %>
            </div>
        </div>


    </div> <!-- /#wrap -->



</body>
</html>